/* CSS files add styling rules to your content */
 @import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@100&display=swap");

body {
  font-family: helvetica, arial, sans-serif;
/*   margin: 2em; */
  background-color: azure;
}

h1 {
  font-style: italic;
  color: #373fff;
}

/* class="jumbotron" */
.jumbotron {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://picsum.photos/800/);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: aqua;
}